
h1{
    font-size: 80px;
}
h1:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(245, 162, 55);
    visibility: visible;
}
h2{
    color: rgb(238, 190, 69);
    position: relative;
    text-align: center;
    font-weight: 500;
    padding-top: 120px;
    font-size: 180px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
}
p{
    text-align: center;
    margin-left: 45%;
    border: 1px solid white;
    padding:10px;
    width:220px;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.479);
}
p:hover{ background-color: rgb(238, 190, 69) ;
    
}
a{
        font-size: 80px;
    }
a:hover{
        font-size:30px ;

    }
@media screen and (min-width: 768px){
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

html,body{
    max-width: 100pw;
    max-height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/slice-traditional-italian-pepperoni-pizza-with-tomato-sauce-arugula_285885-2420.jpg?size=626&ext=jpg&ga=GA1.2.583101739.1683740313&semt=ais");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}
header{
    position: fixed;
    background-color: rgb(129, 2, 2);
    opacity: 0.8;
    width: 100%;
    height: auto;

}
h1{
    color: rgb(236, 227, 205);
    position: relative;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    font-size: 80px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
}
h1:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(245, 162, 55);
    visibility: visible;
}
h2{
    color: rgb(238, 190, 69);
    position: relative;
    text-align: center;
    font-weight: 500;
    padding-top: 120px;
    font-size: 120px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
}
p{
    text-align: center;
    margin-left: 45%;
    border: 1px solid white;
    padding:10px;
    width:160px;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.479);
}
p:hover{ background-color: rgb(238, 190, 69) ;
    
}
a{
        color: rgb(231, 210, 158);
        text-decoration: none;
        position: relative;
        text-align: center;
        font-weight: 200;
        padding-top: 5px;
        font-size: 20px;
        font-family: 'Anton', sans-serif;
    }
a:hover{
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 5px rgb(245, 194, 127);
        visibility: visible;
        font-size:30px ;

    }
}
