*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
    }
header{
    width: 100%;
    height: auto;

}
.heading{
    font-size: 55px;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(255, 145, 0);
    z-index: 1;
}
.heading:hover{
    text-shadow: 2px 2px 5px rgb(104, 38, 0);
    color:  rgb(255, 255, 255);
    font-size: 50px;
}
.bg-img {
    background-image:url("https://cdn.britannica.com/08/177308-050-94D9D6BE/Food-Pizza-Basil-Tomato.jpg");
    width:100%;
    min-height: 525px;
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container {
    position: absolute;
    width: auto;
  }
  .topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'PT Serif', serif;
  }
  .topnav a:hover {
    text-shadow: 2px 2px 5px rgb(255, 94, 0);
    font-size:25px;
    background-color: #0000005e;
    color: rgb(255, 255, 255);
    font-family: 'PT Serif', serif;
  }
  .topnav a :visited{
    font-size: 14px;
    text-shadow: 2px 2px 5px rgb(255, 94, 0);
    color: rgb(255, 255, 255);
    font-family: 'PT Serif', serif;

  }
  section{
    width: 100%;
    height: auto;
}
.menuheading {
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.menuheading h1,h2{
    text-align: center;
    color:rgb(233, 57, 4)
}
.menuheading h1,h2:hover{
    text-decoration:underline;

}
.card{
    width: 300px;
    border:2px solid black;
    margin: 20px;
    background-color: black;
    display: inline-block;
    margin: 20px 70px;

}
.card:hover{
    background-color: black;
    opacity: 0.9;
}
.card-title{

    color: rgb(255, 0, 0);
    text-align: center;
    
}
.card-img-top{ 
    border-radius: 50%;
}
.card button{
    text-align: center;
    background-color: rgb(51, 117, 179);
    border:  solid transparent;
    border-radius: 20%;
    padding: 10px;
    margin: 8px 50px;
}
.card button:hover{
    background-color: white;
}
.card a{
    padding: 2px;
    text-decoration: none;
    font-size:15px;
    color: white;
}
.card a:hover{
    background-color: white;
    color:  rgb(51, 117, 179);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding:10px;
  }
  
  .grid-item {
    background-color: rgb(233, 57, 4) ;
    border: 10px solid  rgb(255, 255, 255) ;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'PT Serif', serif;
}
  .grid-item h5{
    font-family: 'PT Serif', serif;
  }
  .grid-item:hover{
    opacity: 0.8;
}
.about{
    background-color: rgb(245, 171, 101) ;;
    border:0px solid rgb(233, 57, 4) ;
    color: rgb(233, 57, 4);
    text-align: center;
    margin: 20px;
    padding:20px;
}
.about h2{
      text-align: center;
      color: rgb(233, 57, 4);
      position: relative;
}
.about p{
    font-size: 14px;
    font-family: 'PT Serif', serif;
}
select{
    border:0px solid  rgb(255, 255, 255);
    font-family: 'PT Serif', serif;
    border-radius: 20% 20%;
    background-color: rgb(245, 250, 255) ;
    color: rgb(54, 131, 150);
}
.container{
    display: flex;
    flex-direction: row;
    justify-items: end;
}
